
.QuestionContainer {
    /* background-color: blueviolet; */

    width: 90vw;
    height: auto;
    margin: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
}

.QuestionContainer > div {
    /* background-color: #f1f1f1; */
    width: auto;
    margin: 7px;
    text-align: left;
    display: flex;
    justify-content: space-between;
  }

  .TitleStyle {
      margin: 5px;
      color: cadetblue;
  }